@import url("./style/header.css");
@import url("./style/cabecalho.css");
@import url("./style/metrica.css");
@import url("./style/vagas.css");
@import url("./style/emprego.css");
@import url("./style/depoimento.css");


:root {
    --branco: #ffffff;
    --fonte-principal: "Inter";
    --cinza: #667085;
    --vermelho: #8E2424;
    --escuro: #101828;
    --redclaro: #8e242428;
    --borda: #EAECF0;
    --fundo: #c3191941;
}